# that's what we *need*

vpc_id = ...
elb_subnets = ...
subnets = ...
security_groups = ...
instance_role = ...
ebs_service_role = ...                # this seems not always required

# and to use your own cname ...

cname_prefix = ...

# the rest you CAN define, but don't HAVE to. all set using defaults.

# if you choose to set a DNS entry in route53
# a prepared declaration is in "elb-hostname.tf.dist"
app_dns_name = ...
app_subdomain_name = ...