files:
  # this will completely replace the file, but we can add options.
  "/etc/sysconfig/docker":
    content: |
      OPTIONS="--insecure-registry my.registry.internal:5000"

services:
  # now we restart the system V service ...
  sysvinit:
    # ... "docker" if ...
    docker:
      enabled:          "true"
      ensureRunning:    "true"
      files:
        # ... this file was changed :)
        - /etc/sysconfig/docker
